langgraph 
langchain_core 
langchain_openai 
python-dotenv
langchain-community 
tavily-python
langchain-tavily
langchain_google_genai
fastapi
uvicorn
jinja2
python-multipart
crewai
crewai-tools
python-dotenv==1.0.1
langchain-openai==0.1.7
langchain-google-genai